<p id="notice"><%= notice %></p>

<p>
  <strong>title:</strong>
  <%= @task.title %>
</p>

<p>
  <%= @task.body %>
</p>

<h2>comments</h2>

<% @task.comments.each do |comment| %>
  <p>
    <%= comment.body %>
  <p>
<% end %>

<h2>new comment</h2>

<%= form_for([@task.project, @task, @comment]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', project_path(@task.project) %>
