<p id="notice"><%= notice %></p>

<h1>
  <%= @project.name %>
</h1>

<ul>
  <li><%= link_to "tasks (#{@project.tasks.count})", project_tasks_path(@project) %>
</ul>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
