<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>

  <ul>
    <% @project.tasks.each do |task| %>
      <li><%= task.title %>
        <%= link_to 'show', project_task_path(@project, task) %>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
