<p id="notice"><%= notice %></p>

<div>
  <strong>Name:</strong>
  <%= @project.name %>
  <%= link_to '[Edit]', edit_project_path(@project) %>
</div>

<form>
  <input type='search' name='q' value='<%= @q %>' placeholder='search'>
</form>

<ul>
  <% @tasks.each do |task| %>
    <li><%= task.title %>
      <%= link_to 'show', project_task_path(@project, task) %>
  <% end %>
</ul>


<%= link_to 'New task', new_project_task_path(@project) %> |
<%= link_to 'Back', projects_path %>
